$primary_color: #ff0d4a;
@mixin button_life{
    &:hover{
        transform: scale(0.99);
        cursor: pointer;
    }
}
.container_alert{
    background-color: #0000009e;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display:flex;
    align-items:center;
    justify-content:center;
    .modal_sesion{
        .Recover_Account_container{
            display: flex;
            width: 100%;
            margin: 20px 0px;
            .label_rememberMe{
                width: 100%;
                display: flex;
                align-items: center;
                user-select: none;
            }
        }
        h3{
            font-size: 20px;
        }
        background-color: #fff;
        width: 442px;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
        padding: 52px 20px;
        padding-top: 20px;
        border-radius:16px;
        position: relative;
        z-index: 999;
        .close_modal{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            color: $primary_color;
        }
        .password_container{
        border: 1px solid  #bdbdbd;
        border-radius: 10px;
        display: flex;
        padding: 10px;
        width: 100%;
            input{
                border: none;
                outline: none;
                width: 100%;
                margin-left: 10px;
            }
        }
        .button_recuperar{
            color: $primary_color;
            background-color: white;
            border: none;
            font-size: 17px;
            cursor: pointer;
            width: 100%;
            padding: 0;
            &:hover{     
                text-decoration: underline;
            }
        }
        .button_registrarme{
            margin: 10px;
            color: $primary_color;
            width: 100%;
            background-color: white;
            border: none;
            font-size: 20px;
            padding: 8px;
            border-radius: 10px;
            cursor: pointer;
        }  
        .button_ingresar{
            color: white;
            width: 100%;
            background-color: $primary_color;
            border: none;
            font-size: 20px;
            padding: 8px;
            border-radius: 10px;
            cursor: pointer;
            transition: .3s all;
            &:disabled{
                background-color: #555455
            }
            @include button_life;
        } 
    }

    .modal_register{
        background-color: #fff;
        width: 442px;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
        padding: 20px;
        padding-top: 20px;
        border-radius:16px;
        position: relative;
        .close_modal{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            color: $primary_color;
        }
        .step_2{
            .button_reenviar_codigo{
                margin-top: 10px;
            }
            input{
                padding: 10px;
                border-radius: 10px;
                border: none;
                border: 1px solid  #bdbdbd;
                margin: 20px 0px ;
                outline: none;
                text-align: center;
                width: 100%;
                letter-spacing: 5px;
            }
            button{
                color: white;
                width: 100%;
                background-color: $primary_color;
                border: none;
                font-size: 20px;
                padding: 8px;
                border-radius: 10px;
                cursor: pointer;
                transition: .3s all;
                @include button_life;
            }
        }
        .step_3{
            div{
                width: 100%;
                margin: 10px 0px;
                border: 1px solid  #bdbdbd;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                svg{
                    margin-right: 5px;
                }
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    outline: none;
                }
            }
        }
        > div { 
            width: 100%;
        }
        .button_registrarme{
            margin: 10px;
            color: $primary_color;
            width: 100%;
            background-color: white;
            border: 1px solid $primary_color;
            font-size: 20px;
            padding: 8px;
            border-radius: 10px;
            cursor: pointer;
        }  
        .button_ingresar{
            color: white;
            width: 100%;
            background-color: $primary_color;
            border: none;
            font-size: 20px;
            padding: 8px;
            border-radius: 10px;
            cursor: pointer;
            transition: .3s all;
            margin: 0px 10px;
            &:disabled{
                background-color: #555455
            }
            @include button_life;
        } 
        .buttons_multi_container{
            display: flex;
            border: none;
            outline: none;
        }
    }
}


.inputNumber{
    margin-bottom: 10px;
    height: 46px;
    input {
        height: 100% !important;
        width:  100% !important;
        border-radius: 10px !important;
    }
    .flag-dropdown{
        border-right: none;
        border-radius: 10px 0px 0px 10px;
    }
}


.span_error{
    display: flex;
    align-items: center;
    color: #222121;
    margin-top: 10px;
    font-weight: 600;
    svg{
        color: #ff0d4a;
        margin-right: 10px;
    }
}