$primary_color: #ff0d4a;

.Navbar_container{
    display: flex;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
    .Navbar_firstChild{
        display: flex;
    }
    .Navbar_logo_container{
        display: flex;
        align-items: center;
        span{
            margin-left: 5px;
            font-weight: 700;
            font-size: 20px;
            color: $primary_color;
            font-family: 'Poppins', sans-serif;;
        }
    }
    .Navbar_input_search_container{
        outline: 1px solid rgb(207, 207, 207);
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        padding: 5px;
        background-color: rgb(197, 195, 195);
        input[type='text']{
            border: none;
            outline: none;
            background-color: transparent;
        }
    }
    .Navbar_icons_container{
        margin-left: 20px;
        display: flex;
        align-items: center;
        svg{
            font-size: 30px;
            margin: 0px 15px;
            color: rgb(170, 170, 170);
            cursor: pointer;
        }
    }
}