.zoom_post_container{
    position: fixed;
    background-color: #0000009e;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    .zoom_post{
        position: relative;
        svg{
            cursor: pointer;
            color: rgb(211, 211, 211);
            align-self: flex-start;
            font-size: 30px;
            position: absolute;
            top: -30px;
            right: -40px;
        }
    }
}
